/.gradle
build
/bin/ch/interlis/configuration/*.class
/bin/ch/interlis/dbimport/*.class
/bin/ch/interlis/iom_j/converter/*.class
/bin/ch/interlis/iom_j/dbimport/*.class
/bin/ch/interlis/iom_j/shp/*.class
/src/test/data/ShapeWriter/LineString/LineString.shx
/src/test/data/ShapeWriter/LineStringAttributes/LineString2.shx
/src/test/data/ShapeWriter/LineStringAttributes/LineStringAttributes.shx
/src/test/data/ShapeWriter/MultiLineString/MultiLineString.shx
/src/test/data/ShapeWriter/MultiLineStringAttributes/MultiLineString2.shx
/src/test/data/ShapeWriter/MultiLineStringAttributes/MultiLineStringAttributes.shx
/src/test/data/ShapeWriter/MultiPoint/MultiPoint.shx
/src/test/data/ShapeWriter/MultiPointAttributes/MultiPoint2.shx
/src/test/data/ShapeWriter/MultiPolygon/MultiPolygon.shx
/src/test/data/ShapeWriter/MultiPolygonAttributes/MultiPolygon2.shx
/src/test/data/ShapeWriter/MultiPolygonAttributes/MultiPolygonAttributes.shx
/src/test/data/ShapeWriter/Point/NoModelSetPointOk.shx
/src/test/data/ShapeWriter/Point/Point.shx
/src/test/data/ShapeWriter/PointAttributes/Point2.shx
/src/test/data/ShapeWriter/PointAttributes/testPointAttrs.shx
/src/test/data/ShapeWriter/Polygon/Polygon.shx
/src/test/data/ShapeWriter/PolygonAttributes/Polygon2.shx
/src/test/data/ShapeWriter/PolygonAttributes/PolygonAttributes.shx
/src/test/data/ShapeWriter/LineString/LineString.dbf
/src/test/data/ShapeWriter/LineStringAttributes/LineString2.dbf
/src/test/data/ShapeWriter/LineStringAttributes/LineStringAttributes.dbf
/src/test/data/ShapeWriter/MultiLineString/MultiLineString.dbf
/src/test/data/ShapeWriter/MultiLineStringAttributes/MultiLineString2.dbf
/src/test/data/ShapeWriter/MultiLineStringAttributes/MultiLineStringAttributes.dbf
/src/test/data/ShapeWriter/MultiPoint/MultiPoint.dbf
/src/test/data/ShapeWriter/MultiPointAttributes/MultiPoint2.dbf
/src/test/data/ShapeWriter/MultiPolygon/MultiPolygon.dbf
/src/test/data/ShapeWriter/MultiPolygonAttributes/MultiPolygon2.dbf
/src/test/data/ShapeWriter/MultiPolygonAttributes/MultiPolygonAttributes.dbf
/src/test/data/ShapeWriter/Point/NoModelSetPointOk.dbf
/src/test/data/ShapeWriter/Point/Point.dbf
/src/test/data/ShapeWriter/PointAttributes/Point2.dbf
/src/test/data/ShapeWriter/PointAttributes/testPointAttrs.dbf
/src/test/data/ShapeWriter/Polygon/Polygon.dbf
/src/test/data/ShapeWriter/PolygonAttributes/Polygon2.dbf
/src/test/data/ShapeWriter/PolygonAttributes/PolygonAttributes.dbf
/src/test/data/ShapeWriter/LineString/LineString.fix
/src/test/data/ShapeWriter/LineStringAttributes/LineString2.fix
/src/test/data/ShapeWriter/LineStringAttributes/LineStringAttributes.fix
/src/test/data/ShapeWriter/MultiLineString/MultiLineString.fix
/src/test/data/ShapeWriter/MultiLineStringAttributes/MultiLineString2.fix
/src/test/data/ShapeWriter/MultiLineStringAttributes/MultiLineStringAttributes.fix
/src/test/data/ShapeWriter/MultiPoint/MultiPoint.fix
/src/test/data/ShapeWriter/MultiPointAttributes/MultiPoint2.fix
/src/test/data/ShapeWriter/MultiPolygon/MultiPolygon.fix
/src/test/data/ShapeWriter/MultiPolygonAttributes/MultiPolygon2.fix
/src/test/data/ShapeWriter/MultiPolygonAttributes/MultiPolygonAttributes.fix
/src/test/data/ShapeWriter/Point/NoModelSetPointOk.fix
/src/test/data/ShapeWriter/Point/Point.fix
/src/test/data/ShapeWriter/PointAttributes/Point2.fix
/src/test/data/ShapeWriter/PointAttributes/testPointAttrs.fix
/src/test/data/ShapeWriter/Polygon/Polygon.fix
/src/test/data/ShapeWriter/PolygonAttributes/Polygon2.fix
/src/test/data/ShapeWriter/PolygonAttributes/PolygonAttributes.fix
/src/test/data/ShapeWriter/LineString/LineString.prj
/src/test/data/ShapeWriter/LineStringAttributes/LineString2.prj
/src/test/data/ShapeWriter/LineStringAttributes/LineStringAttributes.prj
/src/test/data/ShapeWriter/MultiLineString/MultiLineString.prj
/src/test/data/ShapeWriter/MultiLineStringAttributes/MultiLineString2.prj
/src/test/data/ShapeWriter/MultiLineStringAttributes/MultiLineStringAttributes.prj
/src/test/data/ShapeWriter/MultiPoint/MultiPoint.prj
/src/test/data/ShapeWriter/MultiPointAttributes/MultiPoint2.prj
/src/test/data/ShapeWriter/MultiPolygon/MultiPolygon.prj
/src/test/data/ShapeWriter/MultiPolygonAttributes/MultiPolygon2.prj
/src/test/data/ShapeWriter/MultiPolygonAttributes/MultiPolygonAttributes.prj
/src/test/data/ShapeWriter/Point/NoModelSetPointOk.prj
/src/test/data/ShapeWriter/Point/Point.prj
/src/test/data/ShapeWriter/PointAttributes/Point2.prj
/src/test/data/ShapeWriter/PointAttributes/testPointAttrs.prj
/src/test/data/ShapeWriter/Polygon/Polygon.prj
/src/test/data/ShapeWriter/PolygonAttributes/Polygon2.prj
/src/test/data/ShapeWriter/PolygonAttributes/PolygonAttributes.prj
/src/test/data/ShapeWriter/LineString/LineString.shp
/src/test/data/ShapeWriter/LineStringAttributes/LineString2.shp
/src/test/data/ShapeWriter/LineStringAttributes/LineStringAttributes.shp
/src/test/data/ShapeWriter/MultiLineString/MultiLineString.shp
/src/test/data/ShapeWriter/MultiLineStringAttributes/MultiLineString2.shp
/src/test/data/ShapeWriter/MultiLineStringAttributes/MultiLineStringAttributes.shp
/src/test/data/ShapeWriter/MultiPoint/MultiPoint.shp
/src/test/data/ShapeWriter/MultiPointAttributes/MultiPoint2.shp
/src/test/data/ShapeWriter/MultiPolygon/MultiPolygon.shp
/src/test/data/ShapeWriter/MultiPolygonAttributes/MultiPolygon2.shp
/src/test/data/ShapeWriter/MultiPolygonAttributes/MultiPolygonAttributes.shp
/src/test/data/ShapeWriter/Point/NoModelSetPointOk.shp
/src/test/data/ShapeWriter/Point/Point.shp
/src/test/data/ShapeWriter/PointAttributes/Point2.shp
/src/test/data/ShapeWriter/PointAttributes/testPointAttrs.shp
/src/test/data/ShapeWriter/Polygon/Polygon.shp
/src/test/data/ShapeWriter/PolygonAttributes/Polygon2.shp
/src/test/data/ShapeWriter/PolygonAttributes/PolygonAttributes.shp
